# Binaries
*.so
*.o
*.a

# R history/config files
*.Rproj
.Rbuildignore
.RData
.Rhistory
.Rproj.user
..Rcheck

# Editors, IDE's
*~
*.swp
Debug
.cproject
.project
.settings
.idea

# file with main for tests
src/main.cpp
test/cpp/svm/svm_test_model.txt
test/cpp/svm/libsvm_test

