<section class="container-fluid" id="about">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>what is GMUM.r?</h1>
            <hr class="primary">
            <i class="fa fa-info-circle fa-2x title-decoration" style="background-color: #e0e0e0;"></i>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">
            GMUM.r is a R package with new classification and clustering models. This is being done in
            a close collaboration between GMUM group members and students.
        </p>
        <div class="footer">
            <span class="inline-graphical-link">
                <i class="fa fa-github"></i> <a class="inline-link" href="https://github.com/gmum/gmum.r">See the code</a>
            </span>
        </div>
    </div>
</section>
