<section class="container-fluid" id="academy">
    <div class="background"></div>
    <div class="row head">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <h1>Jagiellonian University in Krakow</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <p class="lead layer">
                GMUM.r is being developed at the Faculty of Mathematics and Computer Science of Jagiellonian University.
                This project is supervised by researchers from the GMUM group, Group of Machine Learning Research. The
                group focus on various machine learning models and algorithms, with particular interest in hybrid models,
                connecting concepts from both classification and clustering methods. For students, this project is an
                unique occasion to make a first step into true science.
            </p>
        </div>
    </div>
</section>
