<section class="container-fluid" id="contribute">
    <div class="row head">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <h1>contribute</h1>
            <hr class="primary">
            <i class="fa fa-pencil fa-2x title-decoration" style="background-color: #e0e0e0;"></i>
        </div>
    </div>

    <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
        <p class="lead">
            Feel free to start contributing!
            We welcome you to cooperate - either in giving us feedback and in sending some pull requests.
            For more information about tasks, bugs and how to work with us, please check below links.
        </p>
        <div class="footer">
            <span class="inline-graphical-link">
                <i class="fa fa-github"></i> <a class="inline-link" href="https://github.com/gmum/gmum.r">Repository</a>
            </span>
        </div>
        <div class="footer">
            <span class="inline-graphical-link">
                <i class="fa fa-exclamation-circle"></i> <a class="inline-link" href="https://github.com/gmum/gmum.r/issues">Issue tracker</a>
            </span>
        </div>
        <div class="footer">
            <span class="inline-graphical-link">
                <i class="fa fa-book"></i> <a class="inline-link" href="https://github.com/gmum/gmum.r/wiki">Wiki</a>
            </span>
        </div>
        <p class="lead">
            <a href="http://gmum.net/files/gmum.r/img/page/gmumr.webm">See</a> how our repository evolved.
        </p>
    </div>
</section>
