<section class="container-fluid" id="features">
    <div class="row head">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <h1>what makes GMUM.r unique?</h1>
            <hr class="primary">
            <i class="fa fa-check-square-o fa-2x title-decoration" style="background-color: #333;"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
            <div class="project-feature">
                <h2>clustering and classification</h2>

                <p class="description">
                    of your data using both known and novel machine learning methods
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 text-center">
            <div class="project-feature">
                <h2>efficient clustering</h2>

                <p class="description">
                    using online methods and easily scalable algorithms
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 text-center">
            <div class="project-feature">
                <h2>tunable classification</h2>

                <p class="description">
                    letting you choose from a selection of underlying implementation/optimization methods
                </p>
            </div>
        </div>
    </div>
</section>
