<div class="brick themecolor" id="footer">
    Copyleft 2013-2014 GMUM
</div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $('section[data-type="background"]').each(function(){
        var $bgobj = $(this); // assigning the object
     
        $(window).scroll(function() {
            var yPos = -($window.scrollTop() / $bgobj.data('speed'));
             
            // Put together our final background position
            var coords = '50% '+ yPos + 'px';
 
            // Move the background
            $bgobj.css({ backgroundPosition: coords });
        });
    });   
});
</script>

</body>
</html>
