<!DOCTYPE HTML>
<html>
<head>
    <title> {{ page.title }} </title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/page.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
</body>
<div class="wrapper">

<section
    id="header" class="brick nocolor verycompressed">
    <div class="container">
    <div class="brick item banner">
    gmum.r
    <div class="brick note">
    Classification and clustering models for R
    </div>
    </div>
    <div class="brick item">
    <nav class="menu">
    <a class="item">group</a>
    <a class="item">download tarball</a>
    <a class="item">download zip</a>
    <a class="item">view source code</a>
    </nav>
    </div>
    </div>
</section>

