<section class="container-fluid" id="modules">
    <div class="row head">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <h1>project modules</h1>
            <hr class="primary">
            <i class="fa fa-cubes fa-2x title-decoration" style="background-color: #d95c5c;"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
            <div class="project-module cec">
                <h2>CEC</h2>

                <p class="description">
                    Cross-entropy clustering (shortly CEC) joins advantages of classical k-means with those of EM.
                    Moreover, contrary to k-means and EM, CEC <b>finds the optimal number of clusters</b> by automatically
                    removing redundant ones.
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-thumbs-up" style="background-color: #d95c5c;"></i>
                    <span>easy implementation</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-tachometer" style="background-color: #d95c5c;"></i>
                    <span>speed</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-smile-o" style="background-color: #d95c5c;"></i>
                    <span>ability to adapt to clusters of desired shapes</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-star" style="background-color: #d95c5c;"></i>
                    <span>ability to find the optimal number of clusters</span>
                </p>

                <div class="footer">
                    <span class="inline-graphical-link">
                        <a class="inline-link" href="/cec/">Learn more</a> <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 text-center">
            <div class="project-module">
                <h2>SVM</h2>

                <p class="description">
                    Known and widely used Support Vector Machine engines with unique <i>Two Ellipsoids</i> preprocessing.
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-th-large" style="background-color: #d95c5c;"></i>
                    <span>different SVM libraries</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-desktop" style="background-color: #d95c5c;"></i>
                    <span>unique features</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-star" style="background-color: #d95c5c;"></i>
                    <span>unique data preprocessing</span>
                </p>

                <div class="footer">
                    <span class="inline-graphical-link">
                        <a class="inline-link" href="/svm/">Learn more</a> <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 text-center">
            <div class="project-module">
                <h2>GNG</h2>

                <p class="description">
                    Fast C++ implementation of clustering algorithm <i>Growing Neural Gas</i>.
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-bullseye" style="background-color: #d95c5c;"></i>
                    <span>online clustering</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-database" style="background-color: #d95c5c;"></i>
                    <span>focused on big datasets</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-tachometer" style="background-color: #d95c5c;"></i>
                    <span>high performace</span>
                </p>

                <p class="feature">
                    <i class="fa fa-2x fa-share-alt" style="background-color: #d95c5c;"></i>
                    <span>integration with igraph</span>
                </p>

                <div class="footer">
                    <span class="inline-graphical-link">
                        <a class="inline-link" href="/gng/">Learn more</a> <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
