<section class="container-fluid" id="team">
    <div class="row head">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <h1>team</h1>
            <hr class="primary">
            <i class="fa fa-users fa-2x title-decoration" style="background-color: #fff;"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="lead">
                Our team. Mouse over a member to see contact details.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="http://gmum.net/images/ipodolak.jpg">
                <p class="lead member-name">dr hab. Igor Podolak</p>
                <p class="member-position">GNG Supervisor</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:igor.podolak@uj.edu.pl">igor.podolak@uj.edu.pl</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="http://gmum.net/images/profile.jpg">
                <p class="lead member-name">mgr Wojciech Czarnecki</p>
                <p class="member-position">Project Coordinator, SVM/CEC Supervisor</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:wojciech.czarnecki@uj.edu.pl">wojciech.czarnecki@uj.edu.pl</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/lejlot">lejlot</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member inactive">
                <p class="label-inactive">FORMER MEMBER</p>
                <img src="http://gmum.net/images/pspurek.jpg">
                <p class="lead member-name">dr Przemysław Spurek</p>
                <p class="member-position">CEC Supervisor</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:przemyslaw.spurek@uj.edu.pl">przemyslaw.spurek@uj.edu.pl</a></i></p>
                <p class="member-email detail"><i class="fa fa-link"> <a href="http://ww2.ii.uj.edu.pl/~spurek/">ww2.ii.uj.edu.pl/~spurek/</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars1.githubusercontent.com/u/1571945?v=3&s=460">
                <p class="lead member-name">Stanisław Jastrzębski</p>
                <p class="member-position">Project Maintainer, GNG Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:staszek.jastrzebski@gmail.com">staszek.jastrzebski@gmail.com</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/kudkudak">kudkudak</a></i></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars1.githubusercontent.com/u/6382449?v=3&s=460">
                <p class="lead member-name">Igor Sieradzki</p>
                <p class="member-position">SVM Team Leader</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:sieradzki.igor@gmail.com">sieradzki.igor@gmail.com</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/igorsieradzki">igorsieradzki</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars3.githubusercontent.com/u/6499331?v=3&s=460">
                <p class="lead member-name">Marcin Data</p>
                <p class="member-position">CEC Team Leader</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:marcin.data@ii.uj.edu.pl">marcin.data@ii.uj.edu.pl</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/marcinMarcin">marcinMarcin</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars0.githubusercontent.com/u/9215552?v=3&s=460">
                <p class="lead member-name">Marcin Hatalski</p>
                <p class="member-position">GNG Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:m.hatalski@student.uj.edu.pl">m.hatalski@student.uj.edu.pl</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/Nominalista">Nominalista</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars1.githubusercontent.com/u/4386434?v=3&s=460">
                <p class="lead member-name">Szymon Nakoneczny</p>
                <p class="member-position">SVM Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:szymon.nakoneczny@gmail.com">szymon.nakoneczny@gmail.com</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/snakoneczny">snakoneczny</a></i></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars2.githubusercontent.com/u/858917?v=3&s=460">
                <p class="lead member-name">Konrad Talik</p>
                <p class="member-position">SVM Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:konrad.talik@uj.edu.pl">konrad.talik@uj.edu.pl</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/ktalik">ktalik</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars1.githubusercontent.com/u/2600737?v=3&s=460">
                <p class="lead member-name">Piotr Kowenzowski</p>
                <p class="member-position">SVM Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:piotr.kowenzowski@uj.edu.pl">piotr.kowenzowski@uj.edu.pl</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/sacherus">sacherus</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars0.githubusercontent.com/u/1937406?v=3&s=460">
                <p class="lead member-name">Karol Jurek</p>
                <p class="member-position">CEC Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:k.jurek@uj.edu.pl">k.jurek@uj.edu.pl</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/kjurek">kjurek</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars3.githubusercontent.com/u/1173337?v=3&s=460">
                <p class="lead member-name">mgr Michał Pletty</p>
                <p class="member-position">CEC Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:michal.pletty@gmail.com">michal.pletty@gmail.com</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/crazySocket">crazySocket</a></i></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member inactive">
                <p class="label-inactive">FORMER MEMBER</p>
                <img src="https://avatars1.githubusercontent.com/u/2613133?v=3&s=460">
                <p class="lead member-name">mgr Maciej Zgliczyński</p>
                <p class="member-position">CEC Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:zglicz@gmail.com">zglicz@gmail.com</a></i></p>
                <p class="member-github detail"><i class="fa fa-github"> <a href="https://github.com/IIUJ-MaciejZgliczynski">IIUJ-MaciejZgliczynski</a></i></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-3 text-center">
            <div class="member">
                <img src="https://avatars1.githubusercontent.com/u/3083434?v=3&s=460">
                <p class="lead member-name">Mateusz Bruno-Kamiński</p>
                <p class="member-position">Web Developer</p>
                <p class="member-email detail"><i class="fa fa-envelope"> <a href="mailto:m.bruno.kaminski@gmail.com">m.bruno.kaminski@gmail.com</a></i></p>
                <p class="member-linkedin detail"><i class="fa fa-linkedin"> <a href="https://www.linkedin.com/in/brunokam">www.linkedin.com/in/brunokam</a></i></p>
            </div>
        </div>
    </div>
</section>
