<section class="container-fluid" id="tfml">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-center">
        <p class="lead">
            We have recently participated in <a id="tfml-link" href="http://tfml.gmum.net/">
            Theoretical Foundations of Machine Learning</a> conference. We have given a presentation
            concerning our project.
            <a href="http://gmum.net/files/gmum.r/img/page/tfml_presentation.pdf">Learn more</a> about our speech.
        </p>
    </div>
</section>
