{% include header.html %}

{% include navbar.html %}

<section class="container-fluid" id="about">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>what is GMUM.r?</h1>
            <hr class="primary">
            <i class="fa fa-info-circle fa-2x title-decoration" style="background-color: #e0e0e0;"></i>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">
            GMUM.r is a R package with new classification and clustering models. This is being done in
            a close collaboration between GMUM group members and students.
        </p>
    </div>
</section>

<section class="container-fluid" id="contents">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>project contents</h1>
            <hr class="primary">
            <i class="fa fa-cubes fa-2x title-decoration" style="background-color: #d95c5c;"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="project-content">
                <h2>CEC</h2>
                <p>Cross Entropy Clustering blah bla blah (short description).</p>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <div class="project-content">
                <h2>SVM</h2>
                <p>Support Vector Machines babble babble (short description).</p>
                <h3>
                    <a class="inline-link" href="{{ site.baseurl }}/svm/"><i class="fa fa-link"></i>Learn more</a>
                </h3>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <div class="project-content">
                <h2>GNG</h2>
                <p>
                    Growing Neural Gas implements online clustering in R ... blah blah blah (short description). GNG currently has a separate code.
                </p>
                <h3>
                    <a class="inline-link" href="{{ site.baseurl }}/gng/"><i class="fa fa-link"></i>Learn more</a>
                    <a class="inline-link" href="https://github.com/kudkudak/growing-neural-gas"><i class="fa fa-github"></i>GitHub</a>
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" id="quotes">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>let's quote something here...</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 text-center quote">
            <p class="lead italic">
                It is working much better than I expected!
            </p>
            <p class="author">
                ~ one of our coders
            </p>
        </div>

        <div class="col-sm-6 text-center quote">
            <p class="lead italic">
                Big challenges, Big World, Big Data
            </p>
            <p class="author">
                ~ one of the gmum.r programmers
            </p>
        </div>
    </div>
</section>

<section class="container-fluid" id="contribute">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>contribute</h1>
            <hr class="primary">
            <i class="fa fa-pencil fa-2x title-decoration" style="background-color: #fff;"></i>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">
            Feel free to start contributing!
            We welcome you to cooperate - either in giving us feedback and in sending some pull requests.
            For more information about tasks, bugs and how to work with us, please check below links:
        </p>
        <h3>
            <a class="inline-link" href="https://github.com/gmum/gmum.r/issues"><i class="fa fa-exclamation-circle"></i>Issue tracker</a>
            <a class="inline-link" href="https://github.com/gmum/gmum.r/wiki"><i class="fa fa-book"></i>Wiki</a>
        </h3>
    </div>
</section>

<section class="container-fluid" id="theory">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>theory</h1>
            <hr class="primary">
            <i class="fa fa-cube fa-2x title-decoration" style="background-color: #333;"></i>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">
            Theory behind the implemented algorithms derives from the work of GMUM researchers (blah blah blah).
            Some of the theoretical basis can be obtained by readind related GMUM publications:
        </p>
        <h3>
            <a class="inline-link" href="https://apacz.matinf.uj.edu.pl//publikacje/7143-cross-entropy-clustering">
                <i class="fa fa-newspaper-o"></i>Przemysław Spurek, Jacek Tabor, Cross Entropy Clustering, PATTERN RECOGN vol. 47 (2014), 3046–3059
            </a>
        </h3>
    </div>
</section>

<section class="container-fluid" id="academy">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>Jagiellonian University in Krakow</h1>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">
            GMUM.r is being developed at the Faculty of Mathematics and Computer Science of Jagiellonian University.
            This project is supervised by researchers from the GMUM group, Group of Machine Learning Research. The
            group focus on various machine learning models and algorithms, with particular interest in hybrid models,
            connecting concepts from both classification and clustering methods. For students, this project is an
            unique occasion to make a first step into true science.
        </p>
    </div>
</section>

<section class="container-fluid" id="contact">
    <div class="row head">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>contact</h1>
            <hr class="primary">
            <i class="fa fa-envelope-o fa-2x title-decoration" style="background-color: #fff;"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="lead">
                Feel free to contact with us:
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="contact-person">
                <h2>Wojciech Czarnecki</h2>
                <p>Project Manager</p>
                <p><i class="fa fa-envelope"> <a href="mailto:wojciech.czarnecki@uj.edu.pl">wojciech.czarnecki@uj.edu.pl</a></i></p>
                <p><i class="fa fa-github"> <a href="https://github.com/lejlot">lejlot</a></i></p>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <div class="contact-person">
                <h2>Stanisław Jastrzębski</h2>
                <p>Maintainer</p>
                <p><i class="fa fa-envelope"> <a href="mailto:staszek.jastrzebski@gmail.com">staszek.jastrzebski@gmail.com</a></i></p>
                <p><i class="fa fa-github"> <a href="https://github.com/kudkudak">kudkudak</a></i></p>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <div class="contact-person">
                <h2>Konrad Talik</h2>
                <p>Git and webmaster</p>
                <p><i class="fa fa-envelope"> <a href="mailto:konrad.talik@uj.edu.pl">konrad.talik@uj.edu.pl</a></i></p>
                <p><i class="fa fa-github"> <a href="https://github.com/ktalik">ktalik</a></i></p>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
