{% include header.html %}

<div class="brick nocolor">
Test
</div>

<section
    id="home" data-type="background" data-speed="10" class="brick shaded"
    style="background-image: url(images/romanticism.jpg);">
         <article>Hello, World</article>
</section>

<div class="brick invertedcolor">
Hello, GMUM.r
</div>

<div class="brick shaded expandedtop"
    style="background-image: url(images/wmii.jpg)">
<article>
Hello, WMII
</article>
</br>
<article>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna arcu, aliquam
vulputate sagittis non, volutpat ut odio. Sed adipiscing aliquet lacinia.
Suspendisse rhoncus tellus quis orci gravida gravida. In porta ipsum felis,
sed gravida sapien euismod id. Morbi hendrerit vel nisl tincidunt congue.
Aenean malesuada vitae leo sit amet pellentesque. Nulla sagittis ligula
aliquam mattis hendrerit. Cras lobortis bibendum risus eu varius. pellentesque
tempus nulla eget justo pretium, id eleifend sapien adipiscing. Vivamus sodales
tellus erat, ac luctus dolor laoreet sed.
</article>

</div>

<div class="brick invertedcolor">
Test
</div>

{% include footer.html %}

