{% include header.html %}

{% include navbar.html %}

<section class="container-fluid post" id="{{ page.title }}">
    <div class="row">
        <div class="col-md-4 hidden-xs hidden-sm post-info">
            <div class="col-md-4 text-center fixed">
                <h1>{{ page.title }}</h1>
                <p class="lead italic">
                    {{ page.description }}
                </p>
                <p class="lead italic">
                    by <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a>
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 post-content">
            <p class="lead hidden-md hidden-lg">
                {{ page.description }}
            </p>
            <p class="lead">
                {{ content }}
            </p>
        </div>
    </div>
</section>

{% include footer.html %}
